.main-container{
    padding:20px 0;
}
.form-container{
    width:850px;
    margin:auto;
    border:1px solid black;
    border-radius:5px;
    height:100%;
    padding:15px 25px;
    background-color:bisque;
}
.form{
    padding-top:25px;
}
.title{
    text-align:center;
}
.label{
    font-weight:bold;
    font-size:20px;
    margin:0;
}
.form-input{
    margin-bottom:25px;
}
.image-text{
    font-size:35px;
    font-weight:bold;
    text-align:center;
}
.submit-button{
    padding:5px 20px;
    border:none;
    border-radius:5px;
    color:rgb(68, 68, 68);
    font-size:20px;
    font-weight:bold;
    background-color:rgb(138, 248, 64);
}
.submit-button:hover{
    background-color:rgb(100, 179, 48);
}
.pet-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pet-card{
    width:250px;
    height:300px;
    padding:15px 10px;
    border:1px solid black;
    margin:10px 5px;
    border-radius:10px;
}
.pet-card  img{
    width:100%;
    height:190px;
    border-radius:5px;
    object-fit:cover;
}
#preview{
    margin-top:20px;
    width:200px;
    height:200px;
    object-fit: cover;
}
.pruebaimg{
    width:200px;
    height:200px;
}